body {
    min-height: 90vh;
    display: flex;
}

footer {
    margin-top: auto;
    background: gray;
    color: white;
    height: 9rem;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}