<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="container-fluid text-sm-center p-5 bg-dark-subtle">
            <h1>Sobre mim</h1>
            <p>Oi, sou a Paula Marinho, futura desenvolvedora Front-End!</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>


</html>